rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      allow read, create: if true;
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['status', 'riderLocation']);
    }
    match /wallets/{walletId} {
      allow read, write: if true;
    }
    match /app_config/{configId} {
      allow read, write: if true;
    }
    match /test/connection {
      allow read: if true;
    }
  }
}
